@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #f3e6de;
  font-family: "Zalando Sans SemiExpanded", sans-serif; /*text från google fonts*/
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.7em;
  
 }

 .container {
  margin: 0 auto;
  width: 100%;
 }

 main {
  background-color: #f9f3ee; 
  border: 1px solid #e3cbb8;
  box-shadow: 0 0 15px rgba(240, 200, 180, 0.3);
  border-radius: 15px;
padding: 1em;

}



/*HUVUDMENY*/

.logo {
  width: 150px;
  height: auto;
  padding: 10px;

}

.main-header {
  background: url("../assets/headerdesktopkomp.webp");
  background-size: cover; /*fyll hela ytan*/
  background-position: center; /*centrerar bilden*/
  height: 50vh;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

@supports not (background-image: url("../assets/headerdesktopkomp.webp")) {
  .main-header {
    background-image: url("../assets/headerdesktopkomp.jpg");
  }
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1; 
  pointer-events: none; /* menyerna fungerar fortfarande */
}

.main-header > * {
  position: relative;
  z-index: 2;
}




.main-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header nav li {
  display: inline-block;
  margin-right: -5px;
}

.main-header nav li a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: #f9f3ee;
  text-decoration: none;
  color: black;
  padding: 0 1em 0 1em;
}

.main-header nav li.current a {
  background-color: #d8a47f; /* markerad sida */
  color: #fffaf7;
}

.main-header nav li a:hover {
  background-color: #e5bfa6;
}

.main-header nav {
  position: relative;
  margin-top: 3rem;  
  z-index: 3;
}

.main-header h1 {
  font-size: 3em;
  text-align: center;
  color: #f9f5e8;
  text-shadow: 0 2px 15px rgba(0,0,0,0.7);
}

.main-header p {
  text-align: center;
  color: #f9f5e8;
}

/*STARTSIDA*/

.bildserie {
 display: grid;
 grid-template-columns: repeat(3, auto); /*auto så att varje kolumn blir så bred som innehållet kräver*/
 gap: 1rem; 
 justify-items: center; 
 margin: 0 auto;
 max-width: fit-content; /*gör elementet så smalt som möjligt men tillräckligt brett för att rymma allt inuti*/
}

.bildserie img {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  display: block;
  object-fit: cover;
}

/*BILDREDIGERING*/
.redigeradebilder {
  display:flex;
  flex-direction: column;
  gap: 3rem;
  width: fit-content;
  margin: auto;
}

.redigeradebilder figure {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem; /*avståndet mellan bilder*/
  justify-content: center;
}

.redigeradebilder figcaption {
  grid-column: 1/span2;
  max-width: 800px;
  
}



.redigeradebilder img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}


/*OM*/
.about figure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;                /* Avstånd mellan bild och text */
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.about img {
  width: 350px;             
  height: auto;             /* Bevara proportioner – undvik hoptryckning */
  border-radius: 16px;
}

.about figcaption {
  flex: 1; /*får ta upp så mycket utrymme som möjligt av det som finns kvar i raden*/
}

.about h2 {
  margin-top: 0;
}

/*MEDIA QUERY*/



@media(max-width: 1024px) {
  .main-header {
    background-image: url("../assets/headertabletkomp.webp");
    padding: 2rem 1rem;
  }

 

  @supports not (background-image: url("../assets/headertabletkomp.webp")) {
    .main-header {
      background-image: url("../assets/headertabletkomp.jpg");
    } }

  .main-header h1 {
    font-size: 2em;
    text-align: center;
  }
  
  .main-header p {
    text-align: center;
  }

  .main-header nav {
    position: relative;
    margin-top: 6.7rem;  
    z-index: 3;
  }
  .bildserie img {
    height: 350px;  
    width: 90%;
  }

  
  .redigeradebilder img {
    height: 350px; 
  }
   
} 
@media(max-width: 767px) {
body {
  font-size: 1em;
  padding-bottom: 80px;
}

.main-header {
  background-image: url("../assets/headermobilkomp.webp");
  padding: 2rem 1rem;
  height: auto;
}

@supports not (background-image: url("../assets/headermobilkomp.webp")) {
  .main-header {
    background-image: url("../assets/headermobilkomp.jpg");
    position: relative;
    text-align: center;
    width: auto;
  }
}
 

  .main-header nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #f0d8c8;
    white-space: nowrap;
    z-index: 10;
  }

  .main-header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.3em;
    justify-content: space-evenly;
    padding: 0 0.3em;
  }

  .main-header nav li {
    flex: 1;
    
  }

  .main-header nav li a {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    background-color: #f0d8c8; /* samma färg som nav */
    color: #3b2f2f;
   
  }

  .main-header nav li a:hover {
    background-color: #e5bfa6;
  }

  .main-header nav li.current a {
    background-color: #d8a47f;
    color: #fffaf7;
  }


  .main-header h1 {
    font-size: 1em;
    text-align: center;
  }
  
  .main-header p {
    text-align: center;
    font-size: 0.5em;
  }
  .logo {
    display: block;
    margin: 1rem auto 0 auto; /* centrerar horisontellt */
    width: 50px;            
    height: auto;
  }

  .bildserie {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .redigeradebilder figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .redigeradebilder figcaption {
    font-size: 0.9rem;
    text-align: center;
    max-width: 400px;
  }
 
  h2 {
    text-align: center;
  }

  .about figure {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }

  .about img {
    width: 250px;
  }
  .redigeradebilder img,
  .bildserie img {
    height: auto !important;
    width: 90%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
  
 
}
